@font-face {
    font-family: racing;
    src: url(fonts/Racing_Sans_One/RacingSansOne-Regular.ttf);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: racing;
    overflow-x: hidden;
}

:root{
    --cor-fundo-preto: #121212;
    --cor-fundo: #1b1e2d;
    --cor-botao: #3b3e4f;
}

body{
    background-color: var(--cor-fundo-preto);
}
.video-container{
    width: 100vw;
    height: 100vh;
    overflow: hidden; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.imagem-fundo{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden; 
    z-index: -1;
}

.imagem-fundo video{
    width: 100%;
    height: 120%;
    object-fit: cover;
    position: absolute;
    filter: brightness(0.5);
    top: 0; 
    left: 0;
    }

.barra{
    position: relative;
    background-color: black;
    height: 15vh;
    border-radius: 60px;
    display: flex;
    align-items: center;
    margin: 20px;
    padding: 20px;
    flex-direction: row;
    justify-content: space-between;
    overflow-y: hidden;
}

.barra img{
    margin-left: 20px;
    height: 120px;
}

.btn-head{
    display: flex;
    align-items: center;
}
.btn-head a{
    height: 5vh;
    width: 10vw;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--cor-botao);
    color: white;
    font-size: 120%;
    margin: 10px;
    border-radius: 20px;
    transition: 0.5s;
}
.btn-head a:hover{
    background-color: white;
    color: var(--cor-botao);

}

.container-main{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.container-main h1{
    margin-bottom: 10%;
    font-size: 50px;
    text-align: center;
    color: wheat;
    background-color: var(--cor-botao);
    font-size: 200px;
     white-space: nowrap;
}
.dk-section{
    display: flex;
    justify-content: center;
    height: 70vh;
}
.dk-section img{
    margin-left: 5%;
    border-radius: 20px;
    filter: brightness(0.5);
}
.textos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.takumi-section{
    display: flex;
    justify-content: center;
    height: 70vh;
}

.takumi-section img{
    margin-left: 5%;
    border-radius: 20px;
    filter: brightness(0.5);
}

.textos p{
    color: wheat;
    font-size: 20px;
    width: 500px;
    height: 200px;
    margin: 20px;
}
.textos h2{
    color: wheat;
    font-size: 200%;
    margin-bottom: 20%;
}
